/*-- fonts --*/
$presentation-heading-font: 'TTchocolates-reg', serif;
$mainFont: 'TTchocolates-reg', serif;
$font-family-monospace: 'TTchocolates-reg';

#title-slide .subtitle {
  text-align: center;
  font-family: TTchocolates-reg;
}

#title-slide .title{
  text-align: center;
  font-family: TTchocolates-reg;
}

.reveal .slide *{
  text-align: justify;
  font-family: TTchocolates-reg;
}

/*-- scss:defaults --*/

.quarto-figure {
    margin-bottom: .1em;
}

.quarto-layout-panel>figure>figcaption, .quarto-layout-panel>.panel-caption {
    margin-top: 0;
}

.reveal img {
    margin: 0;
}

figure>figcaption {
    margin-top: 0;
}

.reveal .slide ul li, .reveal .slide ol li {
    margin-top: 0.0em !important;
    margin-bottom: 0.2em !important;
}

.reveal .slide ul, .reveal .slide ol {
    margin-bottom: 0.2em !important;
}

.reveal .slide table th {
    padding: .2em .5em .2em .5em;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.reveal .slide table td {
    padding: .2em .5em .2em .5em;
    border-bottom: 0px none;
}

.reveal .slide table tbody tr:last-child {
  border-bottom: 1px solid;
}

.reveal .slide .table-with-total-row tbody td {
  border-bottom: 0px none;
}

.reveal .slide .table-with-total-row tbody tr:last-child {
  border-top: 1px solid;
}

.reveal .slide .gt_column_spanner {
    text-align: center;
}

.reveal .panel-tabset [role=tab] {
    padding: 0.1em .4em;
}

.reveal .slide .v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal div.callout-caution.callout-style-default .callout-title {
    background-color: #fffb8c;
}

.reveal div.callout-caution {
    border-left-color: #d3d100 !important;
}

.reveal .callout.callout-titled .callout-body > .callout-content > :last-child {
    padding-bottom: 0.0rem !important;
    margin-bottom: 3pt !important;
    margin-top: 3pt !important
}

table.tblcenter td, table.tblcenter td {
   text-align: center !important;
}

